# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
logs
*.pylogs

# Unit test / coverage reports
report*
.pytest_cache/
*.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# SETTINGS
.vscode
.DS_Store

# Configs
.secrets.yaml

# Dependency directories
node_modules/
*lock.json

